@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 97%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

.navbar {
  background: rgb(241, 241, 241);
  padding: 15px 0;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  font-size: 22px;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
}

.links::after {
  content: " ";
  width: 0;
  display: block;
  height: 2px;
  border-radius: 12px;
  background: rgb(0, 0, 0);
  transition: all 0.5s ease;
}

.links:hover {
  color: rgb(92, 91, 91);
}

.links:hover::after {
  width: 100%;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/* section 1 start */

.banner .wrapper {
  padding: 71px 0;
}

.logo a {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 48px;
}

.logo p::first-letter {
  text-transform: capitalize;
}

.logo p {
  font-size: 20px;
  padding: 29px 0 40px 0;
}

.slides {
  display: none;
}

.slide-active {
  display: block;
}

.slide-img {
  position: relative;
}

.slide-btn a {
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  font-size: 22px;
  padding: 17px 24px;
  transition: all 0.5s ease;
}

.slide-btn a:hover {
  background: rgb(0, 0, 0);
  color: rgb(241, 241, 241);
}

.slide-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2.4%;
  background: rgb(255, 255, 255);
}

.slide-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 1.5%;
  background: rgb(97, 97, 97);
  color: rgb(241, 241, 241);
}

.slide-controls a {
  color: rgb(241, 241, 241);
}

.pre-btn,
.nxt-btn {
  text-indent: -9999px;
}

.pre-btn::before,
.nxt-btn::before {
  text-indent: 0;
  font-family: "FontAwesome";
  float: left;
  font-size: 30px;
}

.pre-btn::before {
  content: "\f0a8";
  transition: all 0.5s ease;
}

.nxt-btn::before {
  content: "\f0a9";
  transition: all 0.5s ease;
}

.pre-btn:hover::before,
.nxt-btn:hover::before {
  color: rgb(0, 0, 0);
}

.box {
  display: flex;
}

.box-list {
  display: block;
  text-indent: -9999px;
  background: rgb(241, 241, 241);
  margin: 0 4%;
  padding: 3px 12px;
}

/* section 1 end */

/* section 2 start */

.sec-heading {
  text-align: center;
  margin: 13px 0 19px 0;
}

.sec-heading h2 {
  display: inline-block;
  font-size: 33px;
  font-weight: 500;
  text-transform: capitalize;
  border-bottom: 8px solid rgb(204, 204, 204);
  padding: 10px 0 20px 0;
}

.off-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.card-body {
  padding: 20px 2.5% 30px 1.6%;
}

.card-body:nth-child(1) {
  color: rgb(0, 0, 0);
  background: rgb(241, 241, 241);
}

.card-body:nth-child(2) {
  color: rgb(0, 0, 0);
  background: rgb(187, 187, 187);
}

.card-body:nth-child(3) {
  color: rgb(255, 255, 255);
  background: rgb(97, 97, 97);
}

.card-body:nth-child(4) {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

.card-title {
  text-transform: capitalize;
  font-size: 34px;
  font-weight: 500;
  padding: 20px 0;
}

.card-desc {
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 1px;
}

.price-heading {
  text-align: center;
}

.price-heading h3 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 400;
  padding: 57px 0 27px 0;
}

.price-heading p {
  font-size: 20px;
  padding-bottom: 86px;
}

.price-temp {
  display: flex;
  justify-content: space-between;
  padding-bottom: 88px;
}

.price-title {
  font-size: 35px;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  padding: 45px;
}

.price-card {
  flex-basis: 32%;
}

.price-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgb(226, 226, 226);
}

.detail-list {
  padding: 28px 3%;
  border-top: 1px solid rgb(226, 226, 226);
  text-transform: capitalize;
  font-size: 22px;
}

.detail-list:nth-child(2) .bold-txt {
  text-transform: uppercase;
}

.detail-list:nth-child(6) {
  font-size: 19px;
  text-transform: lowercase;
  color: rgb(92, 89, 89);
}

.detail-list:nth-child(6) .bold-txt {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  font-size: 52px;
  font-weight: 500;
  padding: 20px 0;
}

.price-card:nth-child(2) .price-title {
  background: rgb(97, 97, 97);
}

.bold-txt {
  font-weight: bold;
}

.price-btn {
  border-top: 1px solid rgb(226, 226, 226);
  background: rgb(241, 241, 241);
}

.price-btn a {
  color: rgb(255, 255, 255);
  background: rgb(69, 157, 72);
  font-size: 20px;
  text-transform: capitalize;
  margin: 6%;
  padding: 20px 7%;
  transition: all 0.5s ease;
}

.price-btn a:hover {
  background: rgb(86, 207, 90);
}

/* section 2 end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
